{% extends "views/layouts/main.njk" %}

{% block pageTitle %}
	{{ pageHeading }} - {{ config.headerTitle }}
{% endblock %}

{% block pageContent %}
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			<p class="govuk-body">
				Cookies are files saved on your phone, tablet or computer when you visit a website.
				We use cookies to store information about how you use the 'Identify consultees' service,
				such as the pages you visit.
			</p>

			<h2 class="govuk-heading-m">Strictly necessary cookies</h2>
			<p class="govuk-body">
				We use essential cookies to help you use the 'Identify consultees' service.
				These do things such as:
			</p>
			<ul class="govuk-list govuk-list--bullet">
				<li>remember your progress through our service</li>
				<li>remember you have seen the cookies message</li>
			</ul>
			<p class="govuk-body">Strictly necessary cookies always need to be on.</p>
		</div>
	</div>
{% endblock %}
