{% extends "views/layouts/main.njk" %}

{% block pageTitle %}
	{{ pageHeading }} - {{ config.headerTitle }}
{% endblock %}

{% block pageContent %}
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			<p class="govuk-body">
				This privacy notice informs you about what personal data the Planning Inspectorate
				collects through the Identify consultees service, and how we use, store, share and
				dispose of it.
			</p>

			<h2 class="govuk-heading-m">Who we are and what we do</h2>
			<p class="govuk-body">
				The Planning Inspectorate is an Executive Agency of the Ministry of Housing, Communities
				and Local Government (MHCLG). The Inspectorate is committed to protecting the privacy
				and security of the personal information of our customers.
			</p>
			<p class="govuk-body">
				Identify consultees is a casework tool used by Planning Inspectorate staff to identify
				the organisations that must be consulted on planning casework.
			</p>
			<p class="govuk-body">
				This notice covers personal data processed through this service. The
				<a class="govuk-link" href="https://www.gov.uk/government/publications/planning-inspectorate-privacy-notices/customer-privacy-notice">Planning Inspectorate customer privacy notice</a>
				explains how personal data is processed in the casework itself.
			</p>

			<h2 class="govuk-heading-m">The data controller</h2>
			<p class="govuk-body">
				UK data protection law requires that your personal data is owned and managed by a "data
				controller". Where the Inspectorate uses your personal data, the controller for data
				protection purposes is the Ministry of Housing, Communities and Local Government (MHCLG).
				The Inspectorate, as an agency of MHCLG, is responsible for ensuring the personal data
				that we process complies with UK data protection law.
			</p>
			<p class="govuk-body">
				MHCLG's Data Protection Officer (DPO) is also the DPO for the Planning Inspectorate.
				You can contact the DPO by email to
				<a class="govuk-link" href="mailto:dataprotection@communities.gov.uk">dataprotection@communities.gov.uk</a>,
				or in writing addressed to the MHCLG Data Protection Officer at Fry Building, 2 Marsham
				Street, London, SW1P 4DF.
			</p>
			<p class="govuk-body">
				The Planning Inspectorate's Senior Data Protection Manager can be contacted by email to
				<a class="govuk-link" href="mailto:dataprotection@planninginspectorate.gov.uk">dataprotection@planninginspectorate.gov.uk</a>,
				or in writing addressed to The Planning Inspectorate c/o QUADIENT, Senior Data Protection
				Manager (SDPM), 69 Buckingham Avenue, Slough, SL1 4PN.
			</p>

			<h2 class="govuk-heading-m">What personal data we process</h2>
			<p class="govuk-body">Through this service we may process:</p>
			<ul class="govuk-list govuk-list--bullet">
				<li>your name and work contact details, when you sign in to the service</li>
				<li>details of how you use the service, such as the pages you visit</li>
				<li>
					names and contact details of consultees added to a case, where you provide them
				</li>
			</ul>

			<h2 class="govuk-heading-m">Our legal basis for processing your data</h2>
			<p class="govuk-body">
				We process personal data to facilitate the planning process under the Town and Country
				Planning Act 1990, the Planning and Compulsory Purchase Act 2004, the Planning Act 2008
				and other relevant legislation for all Planning Inspectorate casework. Our legal basis
				for processing your personal data is that it is necessary for the performance of a task
				carried out in the public interest or in the exercise of official authority.
			</p>

			<h2 class="govuk-heading-m">How long we keep your personal data</h2>
			<p class="govuk-body">
				We keep your personal data only for as long as it is needed for the purposes set out in
				this notice, in line with the Planning Inspectorate's retention schedule and the
				retention policy for the casework it relates to.
			</p>

			<h2 class="govuk-heading-m">Who we share your information with</h2>
			<p class="govuk-body">
				We do not sell your personal data to anyone. We share personal data only where the law
				allows us to, for example with the departments, agencies and third-party processors who
				support our casework and the services we run on it.
			</p>

			<h2 class="govuk-heading-m">Your rights</h2>
			<p class="govuk-body">In relation to the personal data we process, you have the right to:</p>
			<ul class="govuk-list govuk-list--bullet">
				<li>ask for a copy of the personal data we hold about you</li>
				<li>ask us to correct inaccurate personal data</li>
				<li>ask us to erase or restrict the processing of your personal data, in certain circumstances</li>
				<li>object to the processing of your personal data, in certain circumstances</li>
			</ul>
			<p class="govuk-body">
				To exercise any of these rights, contact the Data Protection Officer using the details
				above. You can read more about your rights on the
				<a class="govuk-link" href="https://ico.org.uk/for-organisations/uk-gdpr-guidance-and-resources/individual-rights/">Information Commissioner's Office website</a>.
			</p>

			<h2 class="govuk-heading-m">Complaints</h2>
			<p class="govuk-body">
				If you are unhappy with the way we have handled your personal data, contact the Data
				Protection Officer first so we can try to resolve the issue. If you are still unhappy, you
				can complain to the
				<a class="govuk-link" href="https://ico.org.uk/make-a-complaint/">Information Commissioner's Office</a>,
				which is the UK's independent regulator for data protection.
			</p>

			<h2 class="govuk-heading-m">Cookies</h2>
			<p class="govuk-body">
				We use strictly necessary cookies to make this service work. Read our
				<a class="govuk-link" href="/cookies">cookies page</a> for details.
			</p>
		</div>
	</div>
{% endblock %}
