node_modules
**/node_modules
.git
.github
.azure
.husky
.idea
.vscode
**/.terraform
**/.terragrunt-cache
*.tfstate
*.tfstate.*
coverage
.nyc_output
.tmp
.cache
dist
build-tmp
.dump.rdb
*.log
.env
.env.*
!.env.example
local.settings.json
tmp
docs
*.md
!README.md
