{% extends "views/layouts/error.njk" %}

{% set messages = [
	'We have not saved your answers.',
	"When the service is available, you will have to start again. Please avoid special characters like ' and \\."
] %}
