{% extends "views/layouts/main.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block pageTitle %}
	{{ pageHeading }} - {{ config.headerTitle }}
{% endblock %}

{# the radios' fieldset legend is the page heading, so suppress the layout's own h1 #}
{% block pageHeading %}{% endblock %}

{% block pageContent %}
	<form method="post" action="/consultees/{{ caseId | urlencode }}/shapefile" novalidate>
		<input type="hidden" name="_csrf" value="{{ _csrf }}">
		<input type="hidden" name="ruleset" value="{{ rulesetId }}">
		{{ govukRadios({
			idPrefix: "shapefile",
			name: "shapefile",
			fieldset: {
				legend: {
					text: pageHeading,
					isPageHeading: true,
					classes: "govuk-fieldset__legend--xl"
				}
			},
			hint: {
				text: "Select a geojson file from the GIS Shapefiles project documentation folder"
			},
			items: files
		}) }}

		{{ govukButton({
			text: "Save and return"
		}) }}
	</form>
{% endblock %}
