{% extends "views/layouts/main.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block pageTitle %}
	{{ pageHeading }} - {{ config.headerTitle }}
{% endblock %}

{# the radios' fieldset legend is the page heading, so suppress the layout's own h1 #}
{% block pageHeading %}{% endblock %}

{% block pageContent %}
	{# the case name sits inside the legend's h1 as its caption, as the layout renders it #}
	{% set legendHtml %}<span class="govuk-caption-xl">{{ pageCaption }}</span>{{ pageHeading }}{% endset %}
	<form method="post" action="{{ formAction }}" novalidate>
		<input type="hidden" name="_csrf" value="{{ _csrf }}">
		{{ govukRadios({
			idPrefix: "ruleset",
			name: "ruleset",
			fieldset: {
				legend: {
					html: legendHtml,
					isPageHeading: true,
					classes: "govuk-fieldset__legend--xl"
				}
			},
			items: rulesets
		}) }}

		{{ govukButton({
			text: "Identify consultees"
		}) }}
	</form>
{% endblock %}
